#!/bin/bash

# Make vim the default editor
export EDITOR=/usr/local/bin/vim;

# This must be placed where bash can execute
# -not in .zshrc.local
if [ -x /usr/bin/dircolors ]; then
   test -r ~/.dir_colors && eval "$(dircolors -b ~/.dir_colors)" || eval "$(dircolors -b)"
   alias ls='ls --color=auto'
   alias grep='grep --color=auto'
   alias fgrep='fgrep --color=auto'
   alias egrep='egrep --color=auto'
fi

# colored GCC warnings and errors
export GCC_COLORS='error=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'

# Start the gpg-agent if not already running
# if ! pgrep -x -u "${USER}" gpg-agent >/dev/null 2>&1; then
#	gpg-connect-agent /bye >/dev/null 2>&1
# fi
# gpg-connect-agent updatestartuptty /bye >/dev/null

# use a tty for gpg
# solves error: "gpg: signing failed: Inappropriate ioctl for device"
# GPG_TTY=$(tty)
# export GPG_TTY

# Set SSH to use gpg-agent
unset SSH_AGENT_PID
if [ "${gnupg_SSH_AUTH_SOCK_by:-0}" -ne $$ ]; then
	if [[ -z "$SSH_AUTH_SOCK" ]] || [[ "$SSH_AUTH_SOCK" == *"apple.launchd"* ]]; then
		SSH_AUTH_SOCK="$(gpgconf --list-dirs agent-ssh-socket)"
		export SSH_AUTH_SOCK
	fi
fi
# add alias for ssh to update the tty
alias ssh="gpg-connect-agent updatestartuptty /bye >/dev/null; ssh"

# Add tab completion for SSH hostnames based on ~/.ssh/config
# ignoring wildcards
# [[ -e "$HOME/.ssh/config" ]] && complete -o "default" \
# 	-o "nospace" \
# 	-W "$(grep "^Host" ~/.ssh/config | \
# 	grep -v "[?*]" | cut -d " " -f2 | \
# 	tr ' ' '\n')" scp sftp ssh

# source travis bash completion
# if [[ -f "${HOME}/.travis/travis.sh" ]]; then
	# shellcheck source=/dev/null
	# source "${HOME}/.travis/travis.sh"
# fi

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;

# Make some commands not show up in history
export HISTIGNORE=" *:ls:cd:cd -:pwd:exit:date:* --help:* -h:pony:pony add *:pony update *:pony save *:pony ls:pony ls *";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X";
export LESS_TERMCAP_md="$yellow" # Highlight section titles in manual pages.

# Always enable colored `grep` output.
export EDITOR=vim
export VISUAL=vim

export DBUS_SESSION_BUS_ADDRESS
DBUS_SESSION_BUS_ADDRESS=unix:path=/var/run/user/$(id -u)/bus;

export TODOTXT_DEFAULT_ACTION=ls

# hidpi for gtk apps
export GDK_SCALE=2
export GDK_DPI_SCALE=0.5
export QT_DEVICE_PIXEL_RATIO=2

# Set trust level (Needed to set this to 0 to do docker pulls on docker hub...do so at your own risk)
export DOCKER_CONTENT_TRUST=1

# Fix names in Tmuxinator
export DISABLE_AUTO_TITLE=true
